:root {
  --main-color: #ce1512;
  --background-color: #f5f4e6;
  --heading-font-size: 200px;
  --paragraph-font-size: 30px;
}

h1 {
  font-family: inge-variable, sans-serif;
  font-style: normal;
  font-variation-settings: "slnt" -12;
}

h2 {
  font-family: articulat-cf, sans-serif;
  font-style: normal;
  font-weight: 100;
}

.hero {
  background: #c4cbe2;
  text-align: center;
  padding: 160px 20px;
}

.hero-name {
  font-size: 200px;
  color: #211e19;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.hero-text {
  color: #211e19;
  font-size: 20px;
  margin-top: 0px;
}

.btn-font {
  font-family: articulat-cf, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  margin-top: 15px;
  color: #e7dfde;
}

.btn-display {
  width: 175px;
  height: 75px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(174, 159, 33);
  background: linear-gradient(
    0deg,
    rgb(174, 159, 33) 100%,
    rgb(196, 182, 64) 10%
  );
  position: relative;
}

.btn-display:hover {
  color: #ae9f21;
  background: transparent;
  box-shadow: none;
}

.btn-display:before,
.btn-display:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #ae9f21;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}
.btn-font,
.btn-display:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.btn-display:hover:before,
.btn-display:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.btn-display:hover .btn-font:hover {
  color: #211e19;
}

.homepage {
  background: #dcd9d1;
  padding: 160px 20px;
}
.weather-title {
  color: #211e19;
  font-size: 50px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.paragraph-blurb {
  font-family: articulat-cf, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  color: #211e19;

  line-height: 30px;
}
