:root {
  --main-color: #ce1512;
  --background-color: #f5f4e6;
  --heading-font-size: 200px;
  --paragraph-font-size: 30px;
}

h1 {
  font-family: "inge-variable", sans-serif;
  font-style: normal;
  font-variation-settings: "slnt" -12;
}

h2 {
  font-family: "articulat-cf", sans-serif;
  font-style: normal;
  font-weight: 100;
}

.hero {
  background: #c4cbe2;
  text-align: center;
  padding: 200px 20px;
}

.hero-name {
  font-size: 200px;
  color: #211e19;
  letter-spacing: 2px;
  margin-bottom: 0px;
  margin-top: -20px;
}

.hero-text {
  color: #211e19;
  font-size: 20px;
  font-weight: 600;
  margin-top: 2px;
}

.btn-font {
  font-family: articulat-cf, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin-top: 15px;
  color: #e7dfde;
}

.btn-display {
  width: 175px;
  height: 75px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(174, 159, 33);
  background: linear-gradient(
    0deg,
    rgb(174, 159, 33) 100%,
    rgb(196, 182, 64) 10%
  );
  position: relative;
}

.btn-display:hover {
  color: #ae9f21;
  background: transparent;
  box-shadow: none;
}

.btn-display:before,
.btn-display:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #ae9f21;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}
.btn-font,
.btn-display:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.btn-display:hover:before,
.btn-display:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.btn-display:hover .btn-font:hover {
  color: #211e19;
}

.homepage {
  background: #f8f6ee;
  padding: 160px 20px;
}

.weather-pic {
  margin-top: -5px;
  border: 5px solid #c4cbe2;
}

.weather-pic-2 {
  margin-top: 80px;
  border: 5px solid #c4cbe2;
}

.weather-title {
  color: #211e19;
  font-size: 50px;
  margin-top: 10px;
  letter-spacing: 2px;
}

.paragraph-blurb {
  font-family: articulat-cf, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  color: #211e19;

  line-height: 30px;
}

.paragraph-blurb-2 {
  font-family: articulat-cf, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  color: #211e19;

  line-height: 30px;
}

.title-and-blurb {
  margin-top: 90px;
}

/* ^ index page */

.about {
  background: #c4cbe2;
  padding: 160px 20px;
}

.first-heading {
  font-size: 100px;
  letter-spacing: 2px;
  color: #211e19;
}

.secondary-heading {
  color: #211e19;
  font-size: 20px;
  font-family: "articulat-cf", sans-serif;
  font-style: normal;
  font-weight: 600;
  margin-top: -50px;
}

.about-paragraph p {
  font-family: var(--bs-body-font-family);
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  color: #211e19;
  line-height: 30px;
  width: 50%;
}

.headshot {
  margin-left: 50px;
  border-radius: 20px;
  width: 325px;
  margin-top: 15px;
}

.about-btn {
  text-align: center;
  font-weight: 600;
}

/* about page^ */

.work {
  background: #f8f6ee;
  padding: 800px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-title {
  position: absolute;
  top: 0;
  margin-top: 80px;
  font-size: 100px;
  color: #211e19;
  letter-spacing: 2px;
}

.item {
  background: #c4cbe2;
  height: 500px;
  width: 400px;
  border-radius: 20px;
}

.slider {
  margin: auto;
  height: 100px;
  margin-top: -600px;
  justify-content: center;
}

.slider .item {
  animation-name: fade;
  animation-duration: 1.5s;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.previous,
.next {
  flex: 1;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: #ae9f21;
  margin-top: -725px;
}

.slider {
  flex: 2;
  text-align: center;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*work^ */

.contact-container {
  background: #c4cbe2;
  text-align: center;
  padding: 200px 20px;
}

.contact-card {
  background: #f8f6ee;
  height: 565px;
  width: 446px;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 5px;
}

.girl-icon {
  border-radius: 50%;
  margin-top: 20px;
}

.contact-heading-1 {
  font-family: "articulat-cf", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 40px;
  margin-top: 32px;
}

.contact-heading-2 {
  font-family: "articulat-cf", sans-serif;
  font-style: normal;
  color: rgba(33, 30, 25, 0.2);
  margin-top: 22px;
}

.contact-btn {
  margin-top: 0px;
}

.grid-container #contact-instagram-icon {
  font-size: 20px;

  color: #211e19;
  background-color: rgb(195, 203, 226, 0.5);
  padding: 10px 10px;
  border-radius: 50%;
}

.grid-container #contact-dribbble-icon {
  font-size: 20px;

  color: #211e19;
  background-color: rgb(195, 203, 226, 0.5);
  padding: 10px 10px;
  border-radius: 50%;
}

.grid-container #contact-linkedin-icon {
  font-size: 20px;

  color: #211e19;
  background-color: rgb(195, 203, 226, 0.5);
  padding: 10px 10px;
  border-radius: 50%;
}

.grid-container #contact-behance-icon {
  font-size: 20px;

  color: #211e19;
  background-color: rgb(195, 203, 226, 0.5);
  padding: 10px 10px;
  border-radius: 50%;
}

.social-handle {
  color: #ae9f21;
  font-size: 20px;
  font-family: "articulat-cf", sans-serif;
  font-style: normal;
  font-weight: bold;
}
/*rgb(195, 203, 226, 0.5)

/*contact^*/
#work,
nav {
  background-color: #c4cbe2;
}

nav {
  background-color: #f8f6ee;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  padding: 10px 0;
  margin-right: 20px;
  font-family: "articulat-cf", sans-serif;
  font-style: normal;
  font-size: 14px;
}
nav ul {
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #211e19;
}
nav a:hover {
  color: #ae9f21;
  transition: all 100ms ease-in-out;
}

.alana-logo {
  margin-left: 20px;
  font-family: "inge-variable", sans-serif;
  font-style: normal;
  font-variation-settings: "slnt" -12;
  font-size: 30px;
  color: #211e19;
  letter-spacing: 1px;
}

/*navigation^*/
.footer-container {
  display: flex;
  justify-content: center;
  background-color: rgb(174, 159, 33, 0.1);
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 62px;
  border-radius: 10px;
}

.footer-work {
  font-size: 30px;
  margin-top: 10px;
  color: #211e19;
  font-family: "articulat-cf", sans-serif;
  font-style: normal;
  font-weight: bold;
}

.email-link {
  font-size: 24px;
  text-decoration: none;
  color: #211e19;
  font-family: "articulat-cf", sans-serif;
  font-style: normal;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 51px;
}

footer .btn {
  margin-top: 20px;
}

.email-action-call {
  font-family: "articulat-cf", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  margin-top: 20px;
}

footer .social-links a {
  margin: 0 20px;
  font-size: 16px;
  margin-top: 55px;
  color: #211e19;
  background-color: rgb(248, 246, 238, 0.7);
  padding: 10px 14px;
  border-radius: 50%;
}

#colour-footer .footer-container {
  display: flex;
  justify-content: center;
  background-color: rgb(248, 246, 238, 0.7);
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 62px;
  border-radius: 10px;
}

.work-footer-container {
  display: flex;
  justify-content: center;
  background-color: rgb(174, 159, 33, 0.2);
  padding: 20px;
  width: 1000px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 62px;
  border-radius: 10px;
}

#icon-change .social-links a {
  background-color: rgb(195, 203, 226, 0.5);
}

/*footer^*/

@media (max-width: 500px) {
  .hero-name {
    font-size: 100px;
  }
  .hero {
    padding: 260px 20px;
  }
  .weather-pic {
    margin-top: -100px;
  }
  .weather-pic-2 {
    margin-top: 20px;
  }

  .about {
    text-align: center;
  }
  .headshot {
    margin-top: 15px;
    margin-left: 0px;
    width: 125px;
  }
  .first-heading {
    margin-top: -60px;
    font-size: 80px;
  }
  .secondary-heading {
    margin-top: -50px;
    font-size: 20px;
  }
  .about-btn {
    width: 175px;
    height: 75px;
    margin: 0 auto;
  }

  .contact-card {
    height: 565px;
    width: 300px;
  }
  .girl-icon {
    width: 50%;
  }
  .all-contact-info {
    width: 50%;
    margin: 0 auto;
  }
  .slider {
    position: relative;
  }
  .work-title {
    font-size: 100px;
  }

  .item {
    width: 400px;
    align-items: center;
  }
}

@media (max-width: 575px) {
  .contact-card {
    height: 600px;
    width: 300px;
  }
}
